<div id="page">
  <div fxLayout="column" style="height: 100%;">
    <div fxFlex="auto" class="header">
      <p>Header</p>
    </div>
    <div fxFlex="auto" class="content" fxHide [fxShow.sm]="true">
      <p>Content</p>
    </div>
    <div fxFlex="auto" class="left-side-bar" fxHide [fxShow.sm]="true">
      <p>Left Bar</p>
    </div>
    <div fxFlex="auto" class="right-side-bar" fxHide [fxShow.sm]="true">
      <p>Right Bar</p>
    </div>
    <div fxFlex="2 1 auto" fxLayout="row" fxShow [fxHide.sm]="true">
      <div fxFlex="auto" class="left-side-bar">
        <p>Left Bar</p>
      </div>
      <div fxFlex="2 1 auto" class="content">
        <p>Content</p>
      </div>
      <div fxFlex="auto" class="right-side-bar">
        <p>Right Bar</p>
      </div>
    </div>
    <div fxFlex="auto" class="footer">
      <p>Footer</p>
    </div>
  </div>
</div>